html {width: 768px;
  height: 1024px;
  margin: 0;
  margin-left: 20%;}

body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  overflow-x: hidden;
}

h1 {padding: 30px}

.grid-container {padding: 30px}
