html {width: 1240px;
  height: 2000px;
  margin: 0;
  margin-left: 20%;}

body {
  background-image: url(../img/baggrund.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

h1 {padding: 30px}

.grid-container {padding: 30px}


.btn-primary, .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle
{background-color: transparent;
border-color: transparent;
}
